$beige = #9a8b62
$beigePastel = #e3dcc0
$blue = #153450
$bluePastel = #8fbcdb
$green = #5e7703
$greenPastel = #c1cc89
$red = rgb(176, 102, 96)
$redPastel = #eac3b8
$yellow = #ca8f42
$yellowPastel = #f9d3a5

$padX = 2em
$padding = (0.7 * $padX) $padX

#rXI---main
    color: #333
    font-family: Arial, 'Lucida Grande', sans-serif
    font-size: 12pt
    margin: auto
    max-width: 40em

    .rXI---note
        padding: $padding
        background-color: rgb(255, 255, 204)
        color: rgb(0, 0, 153)
        border-radius: 10px
        margin-bottom: 2em

    for i in (1 'blue' $blue $bluePastel) (2 'green' $green $greenPastel)
        _cursor = url('../../img/' + i[1] + 'MarkerPointer.png'), auto !important
        &.rXI---{i[0]}Marker
            cursor: _cursor

            #rXI---textarea
            #rXI---textarea *
                cursor: _cursor

                &::selection
                    background-color: i[3]
                    color: i[2]

            .rXI---markers a.rXI---{i[0]}Marker span
                opacity: 0.2

                &:hover
                    cursor: _cursor

        #rXI---textarea .rXI---{i[0]}Marker.rXI---word
        #rXI---textarea .rXI---{i[0]}Marker.rXI---nonWord
            background-color: i[3]
            color: i[2]

#rXI---author
    text-align: right
    padding: $padding
    font-style: italic
    white-space: nowrap
    color: $beige

    &::selection
        background-color: $beigePastel
#rXI---textarea
    background-color: $beigePastel
    color: $beige
    border: none
    border-radius: 5px
    padding: $padding
    min-height: 1em
    outline: none
    position: relative

    &::selection
    & *::selection
        background-color: transparent
        color: transparent

    &::before
    &::after
        position: absolute
        font-size: 52pt
        font-family: 'Times New Roman', Times, serif
        font-weight: bold
        color: $beige
        opacity: 0.2

    &::before
        content: '„'
        bottom: -0.2em
        left: -0.15em

    &::after
        content: '“'
        top: -0.2em
        right: -0.15em

    span.bad
    span.good
        position: relative

        canvas
            width: 100%
            height: 5px
            position: absolute
            bottom: -5px
            left: -4px

#rXI---score
#rXI---slug
.rXI---selection
    display: none

.rXI---markers
    position: relative
    margin: 30px auto

    a
        display: block
        padding-left: 100px
        margin: 15px auto
        position: relative

        &.rXI---2Marker
            background-color: $greenPastel
            color: $green

            span
                background-image: url(../../img/greenMarkerPointer.png)

        &.rXI---1Marker
            background-color: $bluePastel
            color: $blue

            span
                background-image: url(../../img/blueMarkerPointer.png)

        span
            display: block
            position: absolute
            top: -7px
            left: 20px
            opacity: 1
            width: 63px
            height: 42px

            &:hover
                cursor: pointer !important
