$beige = #9a8b62
$beigePastel = #e3dcc0
$blue = #153450
$bluePastel = #8fbcdb
$green = #5e7703
$greenPastel = #c1cc89
$red = rgb(176, 102, 96)
$redPastel = #eac3b8
$yellow = #ca8f42
$yellowPastel = #f9d3a5

$padX = 2em
$padding = (0.7 * $padX) $padX

#rXI---main
    color: #333
    font-family: Arial, 'Lucida Grande', sans-serif
    font-size: 12pt
    margin: auto
    max-width: 40em

    .rXI---note
        padding: $padding
        background-color: rgb(255, 255, 204)
        color: rgb(0, 0, 153)
        border-radius: 10px
        margin-bottom: 2em

    &.answers .rXI---markers
        a
            padding-left: $padX
            margin: 10px auto
        span
            display: none

.rXI---author
    display: inline
    text-align: right
    padding: 0
    font-style: italic
    white-space: nowrap
    color: $beige
    opacity: 0.7

    &:before
    &::before
        content: '('

    &:after
    &::after
        content: ')'

.rXI---textarea
    display: inline
    position: relative
    outline: none
    border: none
    margin: 0

.rXI---allSentences
    background-color: $beigePastel
    color: $beige
    border: none
    border-radius: 5px
    padding: $padding (0.5 * $padX)

.rXI---sentence
    outline: none
    position: relative
    margin-bottom: 12px
    line-height: 1.5em
    display: list-item
    list-style-type: decimal
    margin-left: 1em

    &::marker
        color: $beige

    &::selection
    & *::selection
        background-color: inherit
        color: inherit

    .rXI---textarea span
        position: relative

        canvas.good.puCorrectness
        canvas.bad.puCorrectness
            width: 100%
            height: 5px
            position: absolute
            bottom: -5px
            left: -4px
        canvas.good.seCorrectness
        canvas.bad.seCorrectness
            position: absolute
            top: -8px
            left: 0

.rXI---score
.rXI---slug
.rXI---selection
    display: none

.rXI---markers
    position: relative
    margin: 30px auto

    a
        display: block
        padding-left: 100px
        margin: 15px auto
        position: relative

        span
            display: block
            position: absolute
            top: -7px
            left: 20px
            opacity: 1
            width: 63px
            height: 42px

            &:hover
                cursor: pointer !important


for $i in (1 'blue' $blue $bluePastel) (2 'green' $green $greenPastel) (3 'red' $red $redPastel)

    $_url = url('../../img/' + $i[1] + 'MarkerPointer.png')
    $_cursor = $_url, auto !important

    #rXI---main
        &.rXI---{ $i[0] }Marker
            cursor: _cursor

            .rXI---textarea
            .rXI---textarea *
                cursor: $_cursor

                &::selection
                    background-color: $i[3]
                    color: $i[2]

            .rXI---markers a.rXI---{ $i[0] }Marker span
                opacity: 0.2

                &:hover
                    cursor: $_cursor

        .rXI---textarea .rXI---{ $i[0] }Marker.rXI---word
        .rXI---textarea .rXI---{ $i[0] }Marker.rXI---nonWord
            background-color: $i[3]
            color: $i[2]

    .rXI---markers a.rXI---{ $i[0] }Marker
                background-color: $i[3]
                color: $i[2]

                span
                    background-image: $_url
