#rus11h {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    width: 600px;
    margin: auto;
    }

#rus11h #note {
    padding: 0.7em 1em;
    background-color: rgb(255, 255, 204);
    color: rgb(0, 0, 153);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 2em;
    }

#rus11h .author:before {
    content: '(';
    font-style: normal;
    }

#rus11h .author:after {
    content: ')';
    font-style: normal;
    }

#rus11h .author {
    font-style: italic;
    }

#rus11h p {
    line-height: 2em;
    margin-top: 2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }
#rus11h p b {
    font-weight: normal;
    cursor: pointer;
    position: relative;
}

#rus11h p.showAnswers i.correct,
#rus11h p.showAnswers i.incorrect {
    background-color: transparent !important;
}
#rus11h p.showAnswers b.correct,
#rus11h p.showAnswers b.incorrect {
    background-color: #c1cc89;
    color: #5e7703 !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 0.3em;
    color: white;
}
#rus11h p.showAnswers b.incorrect {
    background-color: #eac3b8;
    color: rgb(176, 102, 96) !important;
}

#rus11h p i {
    font-style: normal;
    cursor: pointer;
    position: relative;
}
#rus11h p i.comma {
    color: #ca8f42;
    }

#rus11h p:not(.showAnswers) b:hover {
    background-color: #5e7703;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: white;
    padding: 0 4px;
    margin: 0 -4px;
    }
#rus11h p:not(.showAnswers) b.underlined:hover {
    background-color: #ca8f42;
    }
#rus11h p:not(.showAnswers) i i {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    bottom: -10px;
    left: -4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #c1cc89;
    }
#rus11h p.showAnswers i.incorrect i,
#rus11h p.showAnswers i.correct i {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    bottom: -10px;
    left: -4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #5e7703;
    }
#rus11h p.showAnswers i.incorrect i {
    border-bottom-color: rgb(176, 102, 96);
    }
#rus11h p i.comma i {
    border-bottom-color: #f9d3a5;
    }
#rus11h p b canvas {
    position: absolute;
    height: 10px;
    bottom: -7px;
    width: 100%;
    right: 0;
    left: 0;
    }
#rus11h p b:hover canvas {
    visibility: hidden;
    }
#rus11h span.subquestion,
#rus11h p q {
    display: none;
    }
