$beige = #9a8b62
$beigePastel = #e3dcc0
$blue = #153450
$bluePastel = #8fbcdb
$green = #5e7703
$greenPastel = #c1cc89
$red = rgb(176, 102, 96)
$redPastel = #eac3b8
$yellow = #ca8f42
$yellowPastel = #f9d3a5

$padX = 2em
$padding = (0.7 * $padX) $padX

#rXI---main
    color: #333
    font-family: Arial, 'Lucida Grande', sans-serif
    font-size: 12pt
    margin: auto
    max-width: 40em
    counter-reset: sentence

    .rXI---note
        padding: 28px 20px 15px 210px
        background: $beigePastel url(http://iclass.home-edu.ru/file.php/918/Icons/for_test.png) no-repeat 15px 20px
        color: $blue
        border-radius: 10px
        margin-bottom: 2em
        min-height: 140px
        box-sizing: border-box

        p
            margin: 0 0 10px 0

.rXI---author
    font-style: italic
    white-space: nowrap
    color: $beige
    opacity: 0.7

    &::selection
        background-color: $beigePastel

.rXI---allSentences
    background-color: $beigePastel
    color: $beige
    border: none
    border-radius: 5px
    padding: (0.75 * $padX) $padX
    min-height: 1em
    outline: none
    position: relative
    margin: 10px auto
    line-height: 1.6em

    &::selection
    & *::selection
        background-color: inherit
        color: inherit

    .nobr
        white-space: nowrap

.rXI---sentence
    outline: none
    position: relative
    margin-bottom: 12px
    line-height: 1.5em
    margin-left: 1.5em

    &:before
    &::before
        color: $beige
        opacity: 0.7
        counter-increment: sentence
        content: counter(sentence) "."
        position: absolute
        left: -1.8em

.rXI---sentence:not(:last-of-type)
    margin-bottom: 10px

.rXI---input
    font-size: inherit
    color: inherit
    position: relative
    font-family: inherit

    & > span.widthGauge
        white-space: pre
        position: absolute
        margin: 0
        padding: 0
        padding-left: 1px
        border: none
        visibility: hidden
        font-size: inherit
        font-family: inherit

    img
        display: none

    input
        margin: 0
        padding: 0 0.3em
        border: 1px solid $beigePastel
        background-color: $bluePastel
        color: $blue
        border-radius: 4px
        outline: none
        font-size: inherit
        font-family: inherit

        &.rXI---placeheld
            background-color: $redPastel
            color: $red

        &.correct
            color: $green
            background-color: $greenPastel

        &.incorrect
            color: $red
            background-color: $redPastel
