{% extends 'ext/theory.html' %}
{% block text %}

<header>Знаки препинания при сравнительных оборотах</header>

<p>1. Сравнительные обороты присоединяются сравнительными союзами <var>как,
будто, как будто, словно, точно, что, нежели, чем</var> и <em>выделяются
запятыми</em>. Например: <q>Вечерний туман дымился в камыше и легким, <em>как
кисея</em>, паром вился над водой <span class="rXI---author">(А.
Куприн)</span>; Иногда через дорогу протягивалась, <em>точно огромная рука
с растопыренными белыми пальцами</em>, отягченная снегом ветка. <span
class="rXI---authors">(А. Куприн)</span></q></p>

<p>2. Запятая ставится перед <var>как</var> в оборотах <var>не кто иной,
как</var>; <var>не что иное, как</var>:
<q>Первый был <em>не кто иной, как</em> Михаил Александрович Берлиоз.
<span class="rXI---author">(М. Булгаков)</span></q></p>

<p>3. Сравнительный оборот <em>не выделяется запятыми</em>, если:</p>

<p>а) сравнительный оборот может быть синонимичен творительному сравнения или
может быть заменен наречием: <q><em>Как град</em> посыпалась картечь. <span
class="rXI---author">(М. Лермонтов)</span></q> Ср.: <q>Картечь посыпалась
градом</q>;</p>  

<p>б) оборот имеет значение тождества (<q>погода как погода; лес как лес</q>),
а также входит в состав сказуемого в качестве именной части: <q>И эту
затерянность я всегда ощущаю <em>как счастье</em>. <span
class="rXI---author">(К. Паустовский)</span></q> Ср.: <q>Эта затерянность для
меня <em>как счастье</em></q>;</p> 

<p>в) союз <var>как</var> имеет значение «в&nbsp;качестве»: <q>Богат, хорош
собою, Ленский везде был принят <em>как жених</em>. <span
class="rXI---author">(А. Пушкин)</span></q> Ср.: <q>Ленский везде был принят
в качестве жениха</q>;</p>

<p>г) союз входит во фразеологические сочетания типа <var>беречь как зеницу
ока</var>; <var>лить как из ведра</var> и&nbsp;т.&nbsp;п.: <q>Косой дождь,
гонимый сильным ветром, <em>лил как из ведра</em>. <span
class="rXI---author">(Л. Толстой)</span></q></p>

<aside><p><strong>Примечание.</strong> Сравнительные обороты необходимо
отличать от придаточных предложений. Ср.: <q><span
class="rXI---syntSubject">Губы</span> его <span
class="rXI---syntPredicate">шевелятся</span>, точно <span
class="rXI---syntSubject">он</span> <span
class="rXI---syntPredicate">повторяет</span> про себя то, что слышит. <span
class="rXI---author">(М. Горький)</span></q></p></aside>

{% endblock %}
