{% extends 'ext/theory.html' %}
{% block text %}

<header>Обособленные обстоятельства</header>

<p><strong>Обособленные обстоятельства</strong> обычно выражаются одиночным
деепричастием, деепричастным оборотом, именем существительным в косвенных
падежах (как правило, с предлогом).</p>

<p>На письме обособленные обстоятельства <em>выделяются запятыми</em>.</p>


<header>Обособленные обстоятельства,
выраженные&nbsp;одиночными&nbsp;деепричастиями
и&nbsp;деепричастными&nbsp;оборотами</header>

<p>1. <em>Обособляются</em> два или несколько одиночных деепричастий,
выступающих в роли однородных членов: <q>И чем одно из них нежнее в борьбе
неравной двух сердец, тем неизбежней и вернее, <em>любя, страдая, грустно
млея</em>, оно изноет наконец… <span
class="rXI---author">(Ф.&nbsp;Тютчев)</span>; Волны несутся, <em>гремя
и сверкая</em>. <span class="rXI---author">(Ф.&nbsp;Тютчев)</span></q></p>

<p>2. <em>Обособляется</em> одиночное деепричастие, сохраняющее глагольное
значение и указывающее на время, причину, цель и т.&nbsp;д.  или выступающее
в роли вопросительного сказуемого. Подобное деепричастие стоит, как правило,
перед глаголом-сказуемым или реже&nbsp;&mdash; после него: <q>И кой-где первый
желтый лист, <em>крутясь</em>, слетает на дорогу <span
class="rXI---author">(Ф.&nbsp;Тютчев)</span>; Смеркалось; на столе,
<em>блистая</em>, шипел вечерний самовар <span
class="rXI---author">(А.&nbsp;Пушкин)</span>; Много раз сидел я на дереве над
забором, <em>ожидая</em>, что вот они позовут меня играть с ними.  <span
class="rXI---author">(М.&nbsp;Горький)</span></q></p>

<aside><p><strong>Примечание.</strong> Как правило, <em>не обособляются</em>
одиночные деепричастия, близкие по функции к наречиям образа действия (они
отвечают на вопросы: <em>как? каким образом? в каком положении?</em>). Обычно
они непосредственно примыкают к глаголу-сказуемому: <q>бежал <em>не
оглядываясь</em>, сидел <em>молча</em></q>. Например: <q>Там, в темноте, чьи-то
глаза смотрели <em>не мигая</em>. <span
class="rXI---author">(А.Н.&nbsp;Толстой)</span></q> Ср.: <q>Коваленко сидел,
<em>надувшись</em>, и молчал.  <span
class="rXI---author">(А.&nbsp;Чехов)</span></q></p></aside>

<p>3. <em>Обособляется</em> деепричастный оборот, независимо от степени
распространенности и места, занимаемого им по отношению к глаголу-сказуемому,
например: <q><em>Надвинув пониже свою кепку и крутя над головой кнутом</em>,
кучер гнал лошадь прямо на мост <span
class="rXI---author">(В.&nbsp;Каверин)</span>; По лощинам, <em>звезды
отражая</em>, ямы светят тихою водой. Журавли, <em>друг друга окликая</em>,
осторожно тянутся гурьбой. А весна в зазеленевшей роще ждет зари, <em>дыханье
затая</em>. <span class="rXI---author">(И.&nbsp;Бунин)</span></q></p>

<p>4. Деепричастный оборот, стоящий после сочинительного или подчинительного
союза (или союзного слова), <em>отделяется</em> от него <em>запятой</em>,
например: <q>Туман уже совершенно поднялся и, <em>принимая формы облаков</em>,
постепенно исчезал в темно-голубой синеве неба. <span
class="rXI---author">(Л.&nbsp;Толстой)</span></q> Ср.: <q>Было видно, как,
<em>принимая формы облаков</em>, поднялся туман. — Было видно, как туман,
<em>принимая формы облаков</em>, совершенно поднялся.</q></p>

<p>5. Если перед деепричастным оборотом стоит союз <var>а</var>, то
<em>запятая</em> между ними <em>не ставится</em> в том случае, когда союз не­
возможно оторвать от деепричастного оборота, а деепричастный оборот невозможно
переставить в другое место, не нарушив структуры предложения: <q>Я давно хотел
посмотреть этот фильм, <em>а посмотрев</em>, был разочарован.</q> Если же союз
<var>а</var> выступает в роли собственно противительного союза для
противопоставления членов предложения, то <em>запятая</em> между <var>а</var>
и деепричастным оборотом <em>ставится</em>. Ср.: <q>Они не просто ловили рыбу
в запретное время, а, <em>боясь остаться без улова</em>, брали даже
мелочь.&nbsp;&mdash; Они не просто ловили рыбу, а брали даже мелочь, <em>боясь
остаться без улова</em>.</q></p>

<p>6. Деепричастный оборот <em>не обособляется</em>, если:</p>

<p>а) он тесно связан с глаголом-сказуемым или другим членом предложения
и образует при этом смысловой центр высказывания: <q>писал <em>ни на кого не
смотря</em>; писал <em>не задумываясь</em></q> и т.&nbsp;д.;</p>

<p>б) представляет собой фразеологическую единицу: <q>спустя рукава, засучив
рукава, задрав нос</q> и т.&nbsp;п.;</p>

<aside><p><strong>Примечание.</strong> Фразеологизмы <var>судя по всему, честно
говоря</var>, если они функционируют в роли вводных слов, выделяются запятыми
в соответствии с правилами употребления знаков препинания при вводных
словах<!-- (см. § 92) -->: <q><em>Честно говоря</em>, я не знал, с чего начну
лекцию; <em>Судя по всему</em>, мы пришли именно в то место, которое указал нам
лесник</q>.</p></aside>

<p>в) деепричастие утратило глагольное значение и перешло в другой разряд слов,
например: <var>начиная с</var>&nbsp;&mdash; предложное сочетание. Ср.:
<q><em>Начиная со среды</em> я ухожу в отпуск.&nbsp;&mdash; Со среды я ухожу
в отпуск</q>;</p>

<p>г) деепричастие в качестве зависимого слова имеет союзное слово
<var>который</var> и входит в состав придаточного определительного: <q>Есть
долг, <em>не выполнив которого нельзя смотреть в глаза своим друзьям</em></q>
и т.&nbsp;п.;</p>

<p>д) деепричастный оборот выступает в качестве однородного члена в одном ряду
с необособленными обстоятельствами, например: <q>Я ушел с собрания <em>молча
и ни на кого не глядя</em></q>.</p>

<p>7. Однородные деепричастные обороты и деепричастия, соединенные одиночными
сочинительными союзами (соединительными <var>и, да</var> и разделительными
<var>или, либо</var>), как и любые однородные члены, <em>запятой не
разделяются</em>: <q><em>Гудя и потрескивая и похлопывая заслонкой</em>, она
[печка] освещала дверь и половину комнаты <span
class="rXI---author">(С.&nbsp;Аксаков)</span>; <em>Предчувствуя неприятную
встречу, ворча и оглядываясь</em>, Каштанка вошла в маленькую комнату… <span
class="rXI---author">(А.&nbsp;Чехов)</span></q></p>

{% endblock %}
