{% extends 'ext/theory.html' %}
{% block text %}

<header>Обособление уточняющих членов предложения</header>

<p><strong>Уточняющими</strong> называются члены предложения, уточняющие,
конкретизирующие предшествующий член предложения и выполняющие одинаковую с ним
синтаксическую функцию.</p>

<p>В устной речи уточняющие слова выделяются интонационно, на письме&nbsp;—
<em>запятыми</em>.</p> 

<p>В роли уточняющих членов выступают обстоятельства, чаще всего времени
и места, а также определения. Например: <q>На задах, <em>за погребницей</em>,
вороны ходили вокруг обнажившейся из-под снега падали <span
class="rXI---author">(А. Н. Толстой)</span>; Желтухин сидел на кустике травы,
<em>на припеке, в углу, между крыльцом и стеной дома</em>, и с ужасом глядел на
подходившего Никиту <span class="rXI---author">(А. Н. Толстой)</span>; В это
утро, <em>вскоре после восхода солнца</em>, началось извержение вулкана. <span
class="rXI---author">(Ф. Сологуб)</span></q></p>

<p>В зависимости от смысла одни и те же слова могут быть или не быть
уточняющими. Ср.: <q>В гости мы пойдем сегодня <em>в восемь часов
вечера</em>.</q>&nbsp;&mdash; <q>Сегодня, <em>в&nbsp;восемь часов вечера</em>,
мы пойдем в гости.</q></p>

<p>Часто уточняется определение со значением цвета, размера, возраста
и&nbsp;т.&nbsp;п. Например: <q>Маленькая, <em>лет восьми</em>, девочка принесла
чай <span class="rXI---author">(В. Обручев)</span>; Еще одно,
<em>последнее</em>, сказанье&nbsp;&mdash; и летопись окончена моя. <span
class="rXI---author">(А. Пушкин)</span></q></p>

<p>Уточняющие слова могут конкретизировать местоимения и местоименные наречия
<var>этот, тот, такой, там</var> и&nbsp;т.&nbsp;д. Например: <q>Там, <em>между
полей</em>, змеей вилась дорога и убегала за лес. <span
class="rXI---author">(И. Гончаров)</span></q></p>

{% endblock %}
