{% extends 'ext/theory.html' %}
{% block text %}

<header>Обособленные дополнения</header>

<p>Обособленные дополнения&nbsp;&mdash; это падежные формы имен существительных
с&nbsp;предлогами и предложными сочетаниями <var>кроме, вместо, помимо,
наряду&nbsp;с, за&nbsp;исключением, исключая</var> и т.&nbsp;п.</p>

<p>Подобные сочетания имеют значение включения, исключения, замещения,
т.&nbsp;е. ограничительное или расширительное значение. Их обособление зависит
от смысловой нагрузки, объема оборота, желания его выделить, чтобы подчеркнуть
роль в предложении: <q>В Мещерском крае нет никаких особенных красот
и богатств, <em>кроме лесов, лугов и прозрачного воздуха</em>. <span
class="rXI---author">(К. Паустовский)</span></q></p>

<p>1. Оборот с предлогом <var>кроме</var> чаще обособляется, если имеет значение
исключения: <q>Не было слышно ничего, <em>кроме грохотания поезда и дыхания
спящих</em>. <span class="rXI---author">(А.&nbsp;Куприн)</span></q> Ср.: <q>Не
было слышно ничего, <em>за исключением грохотания поезда и дыхания
спящих</em>.</q></p>

<p>2. Если оборот с <var>кроме</var> имеет значение включения, то он
обособляется только тогда, когда есть необходимость логического его выделения,
внесения ясности и т.&nbsp;д. Например: <q><em>Кроме блюд и соусников</em>, на
столе стояло множество горшочков. <span
class="rXI---author">(Н.&nbsp;Гоголь)</q> Обороты <var>кроме того, кроме
как</var> со значением вводного слова всегда <em>выделяются запятыми</em>.
Например: <q>Доктор, <em>кроме того</em>, превосходный повар. <span
class="rXI---author">(А.&nbsp;Куприн)</span></q></p>

<p><em>Не обособляются</em> обороты с предлогом <var>вместо</var> в значении
«за», «взамен»: <q><em>Вместо обещанного благодатного дождя</em> пошел крупный
град.</q></p>

{% endblock %}
