{% extends 'ext/theory.html' %}
{% block text %}

<header>Обособление пояснительных членов предложения</header>

<p><strong>Пояснительными</strong> называются члены предложения, поясняющие
смысл предшествующего слова или дающие ему другое название.</p>

<p>Пояснительные члены предложения <em>выделяются запятыми</em>.</p>

<p>1. Перед пояснительными членами предложения могут стоять слова <var>а
именно, то есть, или (= то есть), иначе</var>. Например: <q>В самом падшем
существе он [Достоевский] раскрывает образ человеческий, <em>то есть образ
Божий</em> <span class="rXI---author">(Н. Бердяев)</span>; В этом отношении
случилось даже одно очень важное для них обоих событие, <em>именно встреча Кити
с Вронским</em> <span class="rXI---author">(Л. Толстой)</span>; Действительно,
не будь Мосея, <em>или Моськи</em>, как звали его все, роте жилось бы еще хуже.
<span class="rXI---author">(А. Грин)</span></q></p>

<p>При отсутствии слов <var>а именно, то есть, иначе</var> перед пояснительным
членом предложения вместо запятой может стоять <em>тире</em>: <q>В бричке
находился еще один пассажир&nbsp;&mdash; <em>мальчик лет девяти</em>.  <span
class="rXI---author">(А. Чехов)</span></q></p>

<p>2. Пояснительное определение обычно не обособляется, а отделяется от
поясняемого определения запятой: <q>Когда махальный после пятого,
<em>последнего</em> выстрела снова прикладывал к Моськиной мишени белый
четырехугольник, Моська чувствовал, что к нему сзади подбегает фельдфебель.
<span class="rXI---author">(А. Грин)</span></q></p>

<p>3. Пояснительная конструкция по структуре может быть предложением; в этом
случае при наличии пояснительных союзов она отделяется от пояснительного члена
<em>запятой</em>, а при их отсутствии&nbsp;&mdash; <em>тире</em>: <q>Я думал
только об одном&nbsp;&mdash; <em>чтобы поскорее выбраться из леса</em>.</q></p>

{% endblock %}
