{% extends 'ext/theory.html' %}
{% block text %}

<header>Обособленные обстоятельства,<br/>выраженные другими частями речи</header>

<p>1. Обстоятельства, выраженные существительными в косвенных падежах
с предлогами или без предлогов, <em>обособляются</em> с целью их смыслового
выделения или для выражения дополнительного замечания: <q>Добрый комендант,
<em>с согласия своей супруги</em>, решил освободить Швабрина. <span
class="rXI---author">(А.&nbsp;Пушкин)</span></q></p>

<p>2. Обособление конструкций с предлогами и предложными со­ четаниями
<var>благодаря, ввиду, вопреки, вследствие, несмотря на, по причине</var>
и т.&nbsp;п. является факультативным и зависит от степени смысловой нагрузки,
распространенности, положения в предло­ жении и т.&nbsp;д. Обязательным
является только обособление с предложным сочетанием <var>несмотря на</var>,
имеющим уступительное значение: <q>Происшествие имело место <em>благодаря
неосторожности самого машиниста-наставника</em>, а также <em>вследствие
несоблюдения надле­ жащих правил службы движения и эксплуатации</em> <span
class="rXI---author">(А.&nbsp;Платонов)</span>; К счастью, <em>по причине
неудачной охоты</em>, наши кони не были измучены <span
class="rXI---author">(М.&nbsp;Лермонтов)</span>; <em>Несмотря на погоду</em>,
мы решили выступать. <span class="rXI---author">(В.&nbsp;Обручев)</span><q></p>

{% endblock %}
