{% extends 'ext/theory.html' %}
{% block text %}

<header>Знаки препинания при присоединительных членах предложения</header>

<p><strong>Присоединительными</strong> называются слова или конструкции,
содержащие дополнительные к основному высказыванию сообщения, возникающие
в процессе высказывания.</p>

<p>1. Обычно присоединительные члены присоединяются словами <var>даже,
особенно, в особенности, например, в частности, главным образом, в том числе,
притом, и притом, и (= и притом), да, да и, да и вообще</var> и&nbsp;др.
Присоединительные слова и конструкции обособляются: <q>Общий колорит поэзии
Пушкина, <em>и в особенности лирической</em>,&nbsp;&mdash; внутренняя красота
человека и лелеющая душу гуманность. <span class="rXI---author">(В.
Белинский)</span></q></p>

<p>2. Конструкция, тесно связанная по смыслу с последующей частью, не
выделяется запятыми с обеих сторон, а только <em>отделяется запятой</em> от
предшествующей части. Например: <q>Я не видел, <em>да и не мог видеть</em>
происходящего внизу.</q></p>

<aside><p><strong>Примечания.</strong> 1. От присоединительного союза <var>да
и</var> необходимо отличать соединительный союз <var>да и (= и)</var>, перед
которым <em>запятая не ставится</em>: <q>Я стрельнул <em>да
и промахнулся</em>.</q></p>

<p>2. Запятая <em>не ставится</em> в сочетаниях типа <var>возьми да и, нет-нет
да и</var>. Например: <q>А в то время, как дед зачал к смерти готовиться,
медведь <em>возьми да и</em> заявись <span class="rXI---author">(Ю.
Герман)</span>; Всю жизнь ходи в лесу, все узнай, все изучи, и все-таки
<em>нет-нет да и</em> выйдет такое, что никак не поймешь. <span
class="rXI---author">(М. Пришвин)</span></q></p></aside>

<p>3. Присоединительные конструкции могут включаться в предложение без союзов.
В подобном случае перед такой конструкиией, как правило, <em>ставится
тире</em>: <q>Нахожу очередной белый гриб&nbsp;&mdash; <em>крепкий,
ядреный</em>.</q></p>

<p>4. Иногда перед присоединительной конструкцией возможна постановка
многоточия, что передает не только прерванность речи, но и раздумье: <q>Он ушел
от меня… <em>навсегда</em>.</q></p>

{% endblock %}
